################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApp1/.vs/BookStoreApp1
/BookStoreApp1/BookStoreApp1/bin/Debug/netcoreapp3.1
/BookStoreApp1/BookStoreApp1/obj
